[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
python-dotenv = "*"
python-decouple = "*"
pillow = "*"
psycopg2 = "*"
django-cors-headers = "*"
django-extensions = "*"
gunicorn = "*"
whitenoise = "*"
cloudinary = "*"
django-cloudinary-storage = "*"
dj-database-url = "*"
flake8 = "*"
flake8-django = "*"
debugpy = "==1.5.1"
django-jazzmin = "*"

[dev-packages]
autopep8 = "*"
black = "*"

[requires]
python_version = "3.10"
